.topbarContainer {
  height: 6em;
  width: 100%;
  background-color: midnightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  margin-left: 2em;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarRight {
  margin-right: 2em;
}

.topbarImg {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
