.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profileTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.profileUserImg{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
}

.registerBox{
    height: 15em;
    width: 25em;
    padding: 2em;
    background-color: white;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginInput{
    height: 2.5em;
    border-radius: 2em;
    border: none;
    background-color: lightgray;
    font-size: 0.8em;
    padding-left: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  .loginInput:focus
  .loginInputName:focus{
      outline: none;
  }
  
  .loginInputName{
    height: 2.5em;
    width: 44%;
    border-radius: 2em;
    border: none;
    background-color: lightgray;
    font-size: 0.8em;
    padding-left: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  .registerName{
    display: flex;
    justify-content: space-between;
  }
  
  .loginButton{
    height: 3em;
    margin: 0 12em;
    border-radius: 2em;
    border: none;
    background-color: midnightblue;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1.5em;
  }

  .loginButtonRed{
    height: 3em;
    margin: 0 12em;
    border-radius: 2em;
    border: none;
    background-color: darkred;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1.5em;
  }

.loginButtonRed:hover, 
.loginButton:hover{
  text-decoration: underline;
}

.profileBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileButton{
    display: flex;
    flex-direction: column;
    width: 27em;
}